.navbar-links {
    margin: 0 8px;
    border-radius: 5px;
}
.navbar-links:hover {
    background-color: whitesmoke;
    color: black !important;
}
.my-navbar {
    background-color: #292929;
}
.logo {
    width: 8%;
    display: inline-block;
    margin: auto;
}
.navbar-img-link {
    width: 25%;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 15%;
    }
}